In [1]:
import pandas as pd
import numpy as np
print(pd.__version__)

1.4.2

In [3]:
# Cau 4

arr = np.array([20, 17, 31, 19, 65])

# Tao series tu vector
s4 = pd.Series(arr)
print("Series ban dau:\n", s4)

# Them ten cho cac dong cua series

# Lay gia tri dong thu 2
print("Gia tri dong thu 2 la:", s4[1])

# Lay gia tri 3 dong cuoi
print("Cac gia tri ba dong cuoi cua series la:\n", s4.tail(3)) #Ngoai ra cung co the truy xuat bang cach nay: print(s4[-3:])

Series ban dau:
 0    20
1    17
2    31
3    19
4    65
dtype: int32
Gia tri dong thu 2 la: 17
Cac gia tri ba dong cuoi cua series la:
 2    31
3    19
4    65
dtype: int32

In [5]:
# Cau 5

# Tao list de luu cac du lieu sau
list = [[111, "Hong", 20], [222, "Tai", 19], [333, "Tam", 23], [444, "Phuong", 22], [555, "Huy", 21]]

#Tao dataframe tu list tren
df5 = pd.DataFrame(list)
print("Dataframe da tao la:\n", df5)

#Them ten dong cho df vua tao
new_index = ['SV1', 'SV2', 'SV3', 'SV4', 'SV5']
df5.index = new_index
print("Dataframe sau khi them ten dong:\n", df5)

# Them ten cot cho df vua tao
new_columns = ['MSSV', 'HoTen', 'Tuoi']
df5.columns = new_columns
print("Dataframe sau khi them ten cpt:\n", df5)

#Hien thi toan bo info cua sv2
print("Thong tin cua SV2:\n", df5.loc['SV2'])

#Tao df moi voi hai cot mssv va hoten
df5_new = pd.DataFrame(df5, columns=['MSSV', 'HoTen'])
print("Dataframe moi la:\n", df5_new)

Dataframe da tao la:
      0       1   2
0  111    Hong  20
1  222     Tai  19
2  333     Tam  23
3  444  Phuong  22
4  555     Huy  21
Dataframe sau khi them ten dong:
        0       1   2
SV1  111    Hong  20
SV2  222     Tai  19
SV3  333     Tam  23
SV4  444  Phuong  22
SV5  555     Huy  21
Dataframe sau khi them ten cpt:
      MSSV   HoTen  Tuoi
SV1   111    Hong    20
SV2   222     Tai    19
SV3   333     Tam    23
SV4   444  Phuong    22
SV5   555     Huy    21
Thong tin cua SV2:
 MSSV     222
HoTen    Tai
Tuoi      19
Name: SV2, dtype: object
Dataframe moi la:
      MSSV   HoTen
SV1   111    Hong
SV2   222     Tai
SV3   333     Tam
SV4   444  Phuong
SV5   555     Huy

In [6]:
# Cau 6

# Dung dict de luu danh sach sinh vien
my_dict = {
    '0': [2301, 2302, 2401],
    '1': ['Ly Thi Hong', 'Nguyen Van Hai', 'Le Phuong Anh'],
    '2': [2000, 2002, 2001],
    '3': ['HCM', 'VT', 'DN']
}

# Tao df tu dict
df6 = pd.DataFrame(my_dict)
print("DSSV dang luu:\n", df6)

# Dat ten cho cac cot
columns = ['MSSV', 'HoTen', 'NamSinh', 'DiaChi']
df6.columns = columns
print("DSSV sau khi doi ten cot:\n", df6)

# Them cot GioiTinh
gioiTinh = ['Nu', 'Nam', 'Nu']
df6['GioiTinh'] = gioiTinh
print("DSSV sau khi them cot gioi tinh:\n", df6)

# Them SV vao danh sach
new_data = {
    'MSSV': [2306, 2404, 2304],
    'HoTen': ['Nguyen Van Tai', 'Le Van Nam', 'Phan Hong Tham'],
    'NamSinh': [2002, 2001, 2001],
    'DiaChi': ['NT', 'VT', 'HCM'],
    'GioiTinh': ['Nam', 'Nam', 'Nu']
}

df6_new = pd.DataFrame(new_data)
df6 = pd.concat([df6, df6_new], ignore_index=True)
print("DSSV sau khi them:\n", df6)

# Tao df cac ban co gioi tinh Nam
df6_nam = df6.loc[df6['GioiTinh'] == "Nam"]
print("DSSV chi chua cac ban nam:\n", df6_nam)

# Tao df cac ban nu o hcm
df6_nu_hcm = df6.loc[(df6['GioiTinh'] == "Nu") & (df6['DiaChi'] == "HCM")]
print("DSSV chi chua cac ban nu co dia chi o HCM:\n", df6_nu_hcm)

DSSV dang luu:
       0               1     2    3
0  2301     Ly Thi Hong  2000  HCM
1  2302  Nguyen Van Hai  2002   VT
2  2401   Le Phuong Anh  2001   DN
DSSV sau khi doi ten cot:
    MSSV           HoTen  NamSinh DiaChi
0  2301     Ly Thi Hong     2000    HCM
1  2302  Nguyen Van Hai     2002     VT
2  2401   Le Phuong Anh     2001     DN
DSSV sau khi them cot gioi tinh:
    MSSV           HoTen  NamSinh DiaChi GioiTinh
0  2301     Ly Thi Hong     2000    HCM       Nu
1  2302  Nguyen Van Hai     2002     VT      Nam
2  2401   Le Phuong Anh     2001     DN       Nu
DSSV sau khi them:
    MSSV           HoTen  NamSinh DiaChi GioiTinh
0  2301     Ly Thi Hong     2000    HCM       Nu
1  2302  Nguyen Van Hai     2002     VT      Nam
2  2401   Le Phuong Anh     2001     DN       Nu
3  2306  Nguyen Van Tai     2002     NT      Nam
4  2404      Le Van Nam     2001     VT      Nam
5  2304  Phan Hong Tham     2001    HCM       Nu
DSSV chi chua cac ban nam:
    MSSV           HoTen  NamSinh DiaChi GioiTinh
1  2302  Nguyen Van Hai     2002     VT      Nam
3  2306  Nguyen Van Tai     2002     NT      Nam
4  2404      Le Van Nam     2001     VT      Nam
DSSV chi chua cac ban nu co dia chi o HCM:
    MSSV           HoTen  NamSinh DiaChi GioiTinh
0  2301     Ly Thi Hong     2000    HCM       Nu
5  2304  Phan Hong Tham     2001    HCM       Nu

In [7]:
# Cau 6: Luu danh sach cac ban nu o hcm vao file .csv

df6_nu_hcm.to_csv("nu_hcm.csv", encoding='utf-8', index=False, header=True)

In [82]:
# Cau 7

# Load file
df7 = pd.read_csv("danhsachSV.csv", sep=';')

print("Danh sach sinh vien da load:\n", df7)

Danh sach sinh vien da load:
             ID                 Name         BOD Gender  Mark  \
0   16050007.0      Đặng Phương Anh  24/02/1998      F   7.0
1   16051722.0     Đinh Thị Vân Anh  21/11/1998      F   9.0
2   16050014.0           Đỗ Lan Anh         NaN      F   4.0
3   16051723.0        Kiều Ngọc Ánh  06/10/1998      F   6.0
4   16050008.0          Lê Ngọc Ánh  17/02/1998      F   3.0
..         ...                  ...         ...    ...   ...
80  16050174.0   Nguyễn THị Hải Yến  04/03/1998      F   6.0
81  16051814.0  Nguyễn Thị Ngọc Yến  11/11/1998      F   NaN
82  16051802.0    Nguyễn Doãn Trung  25/09/1998      M   5.0
83  16051803.0      Trần Văn Trường  10/02/1997      M   NaN
84  16051804.0      Trần THị Cẩm Tú  13/12/1998      F   NaN

                Class
0      QH-2016-E KTPT
1   QH-2017-E KINH TẾ
2      QH-2017-E KTPT
3      QH-2017-E KTPT
4      QH-2017-E KTPT
..                ...
80     QH-2016-E KTPT
81     QH-2016-E KTPT
82     QH-2016-E KTPT
83     QH-2016-E KTPT
84     QH-2016-E KTPT

[85 rows x 6 columns]

In [50]:
print(df7.dtypes)

ID        float64
Name       object
BOD        object
Gender     object
Mark      float64
Class      object
dtype: object

In [83]:
# Chuan hoa
#df7 = df7.dropna()
#df7['ID'] = df7['ID'].astype(int)

cols = ["Name", "BOD", "Gender", "Class"]
for c in cols:
    df7[c] = df7[c].astype('string')
    dfnull = df7[df7[c].str.contains('Null')]
    df7.drop(dfnull.index, inplace=True)

print("Danh sach sinh vien da chuan hoa:\n", df7)

Danh sach sinh vien da chuan hoa:
             ID                 Name         BOD Gender  Mark  \
0   16050007.0      Đặng Phương Anh  24/02/1998      F   7.0
1   16051722.0     Đinh Thị Vân Anh  21/11/1998      F   9.0
2   16050014.0           Đỗ Lan Anh        <NA>      F   4.0
3   16051723.0        Kiều Ngọc Ánh  06/10/1998      F   6.0
4   16050008.0          Lê Ngọc Ánh  17/02/1998      F   3.0
..         ...                  ...         ...    ...   ...
80  16050174.0   Nguyễn THị Hải Yến  04/03/1998      F   6.0
81  16051814.0  Nguyễn Thị Ngọc Yến  11/11/1998      F   NaN
82  16051802.0    Nguyễn Doãn Trung  25/09/1998      M   5.0
83  16051803.0      Trần Văn Trường  10/02/1997      M   NaN
84  16051804.0      Trần THị Cẩm Tú  13/12/1998      F   NaN

                Class
0      QH-2016-E KTPT
1   QH-2017-E KINH TẾ
2      QH-2017-E KTPT
3      QH-2017-E KTPT
4      QH-2017-E KTPT
..                ...
80     QH-2016-E KTPT
81     QH-2016-E KTPT
82     QH-2016-E KTPT
83     QH-2016-E KTPT
84     QH-2016-E KTPT

[83 rows x 6 columns]

In [95]:
print("Danh sach sinh vien da chuan hoa:\n", df7)

Danh sach sinh vien da chuan hoa:
             MS                  Ten    NgaySinh GT  Diem                Lop
0   16050007.0      Đặng Phương Anh  24/02/1998  F   7.0     QH-2016-E KTPT
1   16051722.0     Đinh Thị Vân Anh  21/11/1998  F   9.0  QH-2017-E KINH TẾ
2   16050014.0           Đỗ Lan Anh        <NA>  F   4.0     QH-2017-E KTPT
3   16051723.0        Kiều Ngọc Ánh  06/10/1998  F   6.0     QH-2017-E KTPT
4   16050008.0          Lê Ngọc Ánh  17/02/1998  F   3.0     QH-2017-E KTPT
..         ...                  ...         ... ..   ...                ...
80  16050174.0   Nguyễn THị Hải Yến  04/03/1998  F   6.0     QH-2016-E KTPT
81  16051814.0  Nguyễn Thị Ngọc Yến  11/11/1998  F   3.0     QH-2016-E KTPT
82  16051802.0    Nguyễn Doãn Trung  25/09/1998  M   5.0     QH-2016-E KTPT
83  16051803.0      Trần Văn Trường  10/02/1997  M   3.0     QH-2016-E KTPT
84  16051804.0      Trần THị Cẩm Tú  13/12/1998  F   3.0     QH-2016-E KTPT

[83 rows x 6 columns]

In [86]:
# Dem so luong nam nu

sv_nam = len(df7[df7['Gender'] == 'M'])
sv_nu = len(df7[df7['Gender'] == 'F'])

print("So sinh vien nam: ", sv_nam)
print("So sinh vien nu: ", sv_nu)

So sinh vien nam:  19
So sinh vien nu:  64

In [87]:
# Dem so luong nam nu tung lop

group = df7.groupby(['Class', 'Gender'])
print(group['Gender'].count())

Class                Gender
QH-2015-E KTPT       F          2
QH-2015-E KTPT-LUẬT  F          1
QH-2016-E KINHTE     F          4
QH-2016-E KTPT       F         25
                     M         11
QH-2017-E KINH TẾ    F          5
                     M          3
QH-2017-E KTPT       F         26
                     M          5
QH-2017-E KẾ TOÁN    F          1
Name: Gender, dtype: int64

In [91]:
# Doi ten cot

columns = ['MS', 'Ten', 'NgaySinh', 'GT', 'Diem', 'Lop']
df7.columns = columns

print("Danh sach sinh vien sau khi doi ten cot:\n", df7.head(10))

Danh sach sinh vien sau khi doi ten cot:
            MS                   Ten    NgaySinh GT  Diem                Lop
0  16050007.0       Đặng Phương Anh  24/02/1998  F   7.0     QH-2016-E KTPT
1  16051722.0      Đinh Thị Vân Anh  21/11/1998  F   9.0  QH-2017-E KINH TẾ
2  16050014.0            Đỗ Lan Anh        <NA>  F   4.0     QH-2017-E KTPT
3  16051723.0         Kiều Ngọc Ánh  06/10/1998  F   6.0     QH-2017-E KTPT
4  16050008.0           Lê Ngọc Ánh  17/02/1998  F   3.0     QH-2017-E KTPT
5  16052308.0            Vũ Thị Ánh  12/07/1998  F   9.0  QH-2017-E KINH TẾ
6  16051728.0       Nguyễn Đức Bình        <NA>  F   6.0     QH-2016-E KTPT
7  16051726.0      Nguyễn Ngọc Diệp  10/10/1998  F   8.0  QH-2017-E KINH TẾ
8  16051725.0  Nguyễn Thị Ngọc Diệp  08/10/1998  F   7.0     QH-2017-E KTPT
9  16050018.0       Nguyễn Kim Dung  20/10/1998  F   7.0     QH-2016-E KTPT

In [92]:
# Cho biet danh sach cac ban nu co diem > 7

df_nu_7 = df7[(df7['GT'] == 'F') & (df7['Diem'] > 7)]

print("Danh sach cac ban nu co diem lon hon 7:\n", df_nu_7)

Danh sach cac ban nu co diem lon hon 7:
             MS                 Ten    NgaySinh GT  Diem                Lop
1   16051722.0    Đinh Thị Vân Anh  21/11/1998  F   9.0  QH-2017-E KINH TẾ
5   16052308.0          Vũ Thị Ánh  12/07/1998  F   9.0  QH-2017-E KINH TẾ
7   16051726.0    Nguyễn Ngọc Diệp  10/10/1998  F   8.0  QH-2017-E KINH TẾ
19  16050033.0          Đỗ Thị Hoa  09/07/1998  F   8.0   QH-2016-E KINHTE
24         NaN       Hoàng Quý Huy  24/02/1998  F   8.0     QH-2016-E KTPT
25  16051743.0          Lê Đức Huy  18/10/1998  F   9.0     QH-2016-E KTPT
37  17050050.0    Nguyễn Thảo Linh  12/03/1999  F   8.0     QH-2016-E KTPT
45  16051765.0       Phạm Thị Ngọc  30/12/1997  F   9.0     QH-2017-E KTPT
57  16051777.0       Lưu Thị Quỳnh  28/03/1998  F   8.0     QH-2017-E KTPT
58  16051778.0          Lê Bảo Sơn  09/01/1998  F   9.0   QH-2016-E KINHTE
67         NaN     Trịnh Mai Trang  25/06/1998  F   8.0     QH-2017-E KTPT
68  17050090.0       Nguyễn Anh Tú  09/07/1999  F   9.0     QH-2016-E KTPT
78  16051811.0      Trần Ngọc Xuân  04/11/1998  F   8.0     QH-2016-E KTPT
79         NaN  Nguyễn Thị Hải Vân  18/09/1998  F   9.0     QH-2017-E KTPT

In [94]:
# Gan nhung ban khong co diem bang min cot diem

df7.loc[df7['Diem'].isnull(), 'Diem'] = df7['Diem'].min()

print("Danh sach sinh vien sau khi them diem:\n", df7)

In [99]:
# Them cot xep loai

def xep_loai(diem):
    if diem >= 8:
        return 'Giỏi'
    elif diem >= 6 and diem < 8:
        return 'Khá'
    elif diem < 6:
        return 'Trung bình'
    else:
        return 'Không xác định'
    
xepLoai = df7['Diem'].apply(xep_loai)

df7['XepLoai'] = xepLoai

print("Danh sach sinh vien sau khi them cot xep loai:\n", df7)

Danh sach sinh vien sau khi them cot xep loai:
             MS                  Ten    NgaySinh GT  Diem                Lop  \
0   16050007.0      Đặng Phương Anh  24/02/1998  F   7.0     QH-2016-E KTPT
1   16051722.0     Đinh Thị Vân Anh  21/11/1998  F   9.0  QH-2017-E KINH TẾ
2   16050014.0           Đỗ Lan Anh        <NA>  F   4.0     QH-2017-E KTPT
3   16051723.0        Kiều Ngọc Ánh  06/10/1998  F   6.0     QH-2017-E KTPT
4   16050008.0          Lê Ngọc Ánh  17/02/1998  F   3.0     QH-2017-E KTPT
..         ...                  ...         ... ..   ...                ...
80  16050174.0   Nguyễn THị Hải Yến  04/03/1998  F   6.0     QH-2016-E KTPT
81  16051814.0  Nguyễn Thị Ngọc Yến  11/11/1998  F   3.0     QH-2016-E KTPT
82  16051802.0    Nguyễn Doãn Trung  25/09/1998  M   5.0     QH-2016-E KTPT
83  16051803.0      Trần Văn Trường  10/02/1997  M   3.0     QH-2016-E KTPT
84  16051804.0      Trần THị Cẩm Tú  13/12/1998  F   3.0     QH-2016-E KTPT

       XepLoai
0          Khá
1         Giỏi
2   Trung bình
3          Khá
4   Trung bình
..         ...
80         Khá
81  Trung bình
82  Trung bình
83  Trung bình
84  Trung bình

[83 rows x 7 columns]

In [101]:
df7.shape

(83, 7)