In [2]:
import pandas as pd
import numpy as np
print(pd.__version__)

2.1.4

In [3]:
# Cau 4

arr = np.array([20, 17, 31, 19, 65])

# Tao series tu vector
s4 = pd.Series(arr)
print("Series ban dau:\n", s4)

# Them ten cho cac dong cua series

# Lay gia tri dong thu 2
print("Gia tri dong thu 2 la:", s4[1])

# Lay gia tri 3 dong cuoi
print("Cac gia tri ba dong cuoi cua series la:\n", s4.tail(3)) #Ngoai ra cung co the truy xuat bang cach nay: print(s4[-3:])

Series ban dau:
 0    20
1    17
2    31
3    19
4    65
dtype: int32
Gia tri dong thu 2 la: 17
Cac gia tri ba dong cuoi cua series la:
 2    31
3    19
4    65
dtype: int32

In [5]:
# Cau 5

# Tao list de luu cac du lieu sau
list = [[111, "Hong", 20], [222, "Tai", 19], [333, "Tam", 23], [444, "Phuong", 22], [555, "Huy", 21]]

#Tao dataframe tu list tren
df5 = pd.DataFrame(list)
print("Dataframe da tao la:\n", df5)

#Them ten dong cho df vua tao
new_index = ['SV1', 'SV2', 'SV3', 'SV4', 'SV5']
df5.index = new_index
print("Dataframe sau khi them ten dong:\n", df5)

# Them ten cot cho df vua tao
new_columns = ['MSSV', 'HoTen', 'Tuoi']
df5.columns = new_columns
print("Dataframe sau khi them ten cpt:\n", df5)

#Hien thi toan bo info cua sv2
print("Thong tin cua SV2:\n", df5.loc['SV2'])

#Tao df moi voi hai cot mssv va hoten
df5_new = pd.DataFrame(df5, columns=['MSSV', 'HoTen'])
print("Dataframe moi la:\n", df5_new)

Dataframe da tao la:
      0       1   2
0  111    Hong  20
1  222     Tai  19
2  333     Tam  23
3  444  Phuong  22
4  555     Huy  21
Dataframe sau khi them ten dong:
        0       1   2
SV1  111    Hong  20
SV2  222     Tai  19
SV3  333     Tam  23
SV4  444  Phuong  22
SV5  555     Huy  21
Dataframe sau khi them ten cpt:
      MSSV   HoTen  Tuoi
SV1   111    Hong    20
SV2   222     Tai    19
SV3   333     Tam    23
SV4   444  Phuong    22
SV5   555     Huy    21
Thong tin cua SV2:
 MSSV     222
HoTen    Tai
Tuoi      19
Name: SV2, dtype: object
Dataframe moi la:
      MSSV   HoTen
SV1   111    Hong
SV2   222     Tai
SV3   333     Tam
SV4   444  Phuong
SV5   555     Huy

In [6]:
# Cau 6

# Dung dict de luu danh sach sinh vien
my_dict = {
    '0': [2301, 2302, 2401],
    '1': ['Ly Thi Hong', 'Nguyen Van Hai', 'Le Phuong Anh'],
    '2': [2000, 2002, 2001],
    '3': ['HCM', 'VT', 'DN']
}

# Tao df tu dict
df6 = pd.DataFrame(my_dict)
print("DSSV dang luu:\n", df6)

# Dat ten cho cac cot
columns = ['MSSV', 'HoTen', 'NamSinh', 'DiaChi']
df6.columns = columns
print("DSSV sau khi doi ten cot:\n", df6)

# Them cot GioiTinh
gioiTinh = ['Nu', 'Nam', 'Nu']
df6['GioiTinh'] = gioiTinh
print("DSSV sau khi them cot gioi tinh:\n", df6)

# Them SV vao danh sach
new_data = {
    'MSSV': [2306, 2404, 2304],
    'HoTen': ['Nguyen Van Tai', 'Le Van Nam', 'Phan Hong Tham'],
    'NamSinh': [2002, 2001, 2001],
    'DiaChi': ['NT', 'VT', 'HCM'],
    'GioiTinh': ['Nam', 'Nam', 'Nu']
}

df6_new = pd.DataFrame(new_data)
df6 = pd.concat([df6, df6_new], ignore_index=True)
print("DSSV sau khi them:\n", df6)

# Tao df cac ban co gioi tinh Nam
df6_nam = df6.loc[df6['GioiTinh'] == "Nam"]
print("DSSV chi chua cac ban nam:\n", df6_nam)

# Tao df cac ban nu o hcm
df6_nu_hcm = df6.loc[(df6['GioiTinh'] == "Nu") & (df6['DiaChi'] == "HCM")]
print("DSSV chi chua cac ban nu co dia chi o HCM:\n", df6_nu_hcm)

DSSV dang luu:
       0               1     2    3
0  2301     Ly Thi Hong  2000  HCM
1  2302  Nguyen Van Hai  2002   VT
2  2401   Le Phuong Anh  2001   DN
DSSV sau khi doi ten cot:
    MSSV           HoTen  NamSinh DiaChi
0  2301     Ly Thi Hong     2000    HCM
1  2302  Nguyen Van Hai     2002     VT
2  2401   Le Phuong Anh     2001     DN
DSSV sau khi them cot gioi tinh:
    MSSV           HoTen  NamSinh DiaChi GioiTinh
0  2301     Ly Thi Hong     2000    HCM       Nu
1  2302  Nguyen Van Hai     2002     VT      Nam
2  2401   Le Phuong Anh     2001     DN       Nu
DSSV sau khi them:
    MSSV           HoTen  NamSinh DiaChi GioiTinh
0  2301     Ly Thi Hong     2000    HCM       Nu
1  2302  Nguyen Van Hai     2002     VT      Nam
2  2401   Le Phuong Anh     2001     DN       Nu
3  2306  Nguyen Van Tai     2002     NT      Nam
4  2404      Le Van Nam     2001     VT      Nam
5  2304  Phan Hong Tham     2001    HCM       Nu
DSSV chi chua cac ban nam:
    MSSV           HoTen  NamSinh DiaChi GioiTinh
1  2302  Nguyen Van Hai     2002     VT      Nam
3  2306  Nguyen Van Tai     2002     NT      Nam
4  2404      Le Van Nam     2001     VT      Nam
DSSV chi chua cac ban nu co dia chi o HCM:
    MSSV           HoTen  NamSinh DiaChi GioiTinh
0  2301     Ly Thi Hong     2000    HCM       Nu
5  2304  Phan Hong Tham     2001    HCM       Nu

In [7]:
# Cau 6: Luu danh sach cac ban nu o hcm vao file .csv

df6_nu_hcm.to_csv("nu_hcm.csv", encoding='utf-8', index=False, header=True)

In [22]:
# Cau 7

# Load file
df7 = pd.read_csv("sinhvien.csv", sep=';')

# Chuan hoa
df7 = df7.dropna()
df7['ID'] = df7['ID'].astype(int)
print("Danh sach sinh vien da load:\n", df7)

Danh sach sinh vien da load:
           ID                    Name         BOD Gender  Mark  \
0   16050007         Đặng Phương Anh  24/02/1998      F   7.0
1   16051722        Đinh Thị Vân Anh  21/11/1998      F   9.0
3   16051723           Kiều Ngọc Ánh  06/10/1998      F   6.0
4   16050008             Lê Ngọc Ánh  17/02/1998      F   3.0
5   16052308              Vũ Thị Ánh  12/07/1998      F   9.0
7   16051726        Nguyễn Ngọc Diệp  10/10/1998      F   8.0
8   16051725    Nguyễn Thị Ngọc Diệp  08/10/1998      F   7.0
9   16050018         Nguyễn Kim Dung  20/10/1998      F   7.0
10  16051729         Nguyễn Thị Dung  20/06/1998      F   6.0
11  16050020            Lâm Tuấn Đạt  20/01/1998      F   5.0
13  16051730           Mai Thị Giang  08/09/1998      M   9.0
15  16050027             Lê Thị Hằng  10/08/1998      F   7.0
16  16050028    Nguyễn Thị Thúy Hiền  12/03/1998      M   8.0
17  17050021           Phạm Thị Hiền  16/02/1999      F   6.0
19  16050033              Đỗ Thị Hoa  09/07/1998      F   8.0
23  17050035        Nguyễn Thanh Huệ  12/04/1999      M   7.0
25  16051743              Lê Đức Huy  18/10/1998      F   9.0
27  16050067       Đào Thị Thu Huyền  25/05/1998      F   6.0
28  16052318      Đặng Thị Thu Hường  25/04/1998      F   4.0
29  17050049    Nguyễn Đàm Đức Khánh  05/06/1999      F   3.0
30  16050079           Lưu Đăng Khoa        Null      F   5.0
31  16051752          Trần Viết Khởi  19/09/1998      F   4.0
32  16050075        Nguyễn Thị Mỹ Lệ  10/06/1998      F   6.0
33  17050050        Nguyễn Thảo Linh  12/03/1999      F   8.0
34  16050084       Phạm Lê Diệu Linh  21/08/1998      M   6.0
37  16050091       Trương Hoàng Minh  27/07/1998      M   4.0
39  16051762         Nguyễn Thúy Nga  17/05/1998      F   6.0
41  16051765           Phạm Thị Ngọc  30/12/1997      F   9.0
42  16051767         Nguyễn Văn Nhân  26/08/1998      F   5.0
45  16050112    Nguyễn Thị Thùy Ninh  11/01/1998      F   5.0
48  17050070          Bùi Thu Phương  19/12/1999      F   4.0
49  16051775         Đoàn Thị Phương  22/09/1998      F   3.0
50  16051773  Nguyễn Thị Bích Phương  08/04/1998      F   3.0
51  16052324   Hoàng Thị Minh Phượng  03/09/1998      F   4.0
52  15050826         Hoàng Như Quỳnh  09/10/1997      F   6.0
53  16051777           Lưu Thị Quỳnh  28/03/1998      F   8.0
54  16051778              Lê Bảo Sơn  09/01/1998      F   9.0
55  16052325           Phan Việt Sơn  07/12/1998      F   7.0
58  16050175         Nông Thanh Thảo  11/10/1998      M   4.0
59  16051784      Hoàng Thị Thu Thủy  20/10/1998      M   5.0
60  17050083       Nguyễn Kiều Trang  25/08/1999      F   6.0
61  16050140          Trần Thị Trang  29/12/1998      M   7.0
63  17050090           Nguyễn Anh Tú  09/07/1999      F   9.0
64  16050158          Phạm Thị Hà Vy  20/05/1998      F   5.0
65  16051794             Hà Thị Xuân  10/05/1998      F   7.0
66  16050160       Trịnh Thị Hải Yên  13/06/1998      F   4.0
67  16052329       Trần Thị Thu Trng  21/10/1998      F   3.0
68  17050095           Đào Thu Trinh  08/09/1999      F   3.0
69  16051802       Nguyễn Doãn Trung  25/09/1998      M   5.0
72  17050098          Nguyễn THị Vân  21/09/1999      F   7.0
73  16051811          Trần Ngọc Xuân  04/11/1998      F   8.0
75  16050174      Nguyễn THị Hải Yến  04/03/1998      F   6.0

                Class
0      QH-2016-E KTPT
1   QH-2017-E KINH TẾ
3      QH-2017-E KTPT
4      QH-2017-E KTPT
5   QH-2017-E KINH TẾ
7   QH-2017-E KINH TẾ
8      QH-2017-E KTPT
9      QH-2016-E KTPT
10     QH-2017-E KTPT
11     QH-2016-E KTPT
13     QH-2017-E KTPT
15  QH-2017-E KINH TẾ
16  QH-2017-E KINH TẾ
17     QH-2016-E KTPT
19   QH-2016-E KINHTE
23     QH-2016-E KTPT
25     QH-2016-E KTPT
27     QH-2016-E KTPT
28   QH-2016-E KINHTE
29     QH-2016-E KTPT
30     QH-2017-E KTPT
31     QH-2017-E KTPT
32     QH-2017-E KTPT
33     QH-2016-E KTPT
34     QH-2016-E KTPT
37     QH-2017-E KTPT
39     QH-2017-E KTPT
41     QH-2017-E KTPT
42     QH-2015-E KTPT
45     QH-2017-E KTPT
48     QH-2017-E KTPT
49     QH-2016-E KTPT
50     QH-2016-E KTPT
51     QH-2016-E KTPT
52     QH-2016-E KTPT
53     QH-2017-E KTPT
54   QH-2016-E KINHTE
55     QH-2016-E KTPT
58     QH-2016-E KTPT
59     QH-2016-E KTPT
60     QH-2017-E KTPT
61     QH-2016-E KTPT
63     QH-2016-E KTPT
64  QH-2017-E KẾ TOÁN
65   QH-2016-E KINHTE
66     QH-2017-E KTPT
67     QH-2016-E KTPT
68     QH-2017-E KTPT
69     QH-2016-E KTPT
72     QH-2017-E KTPT
73     QH-2016-E KTPT
75     QH-2016-E KTPT

In [17]:
print(df7.dtypes)

ID        float64
Name       object
BOD        object
Gender     object
Mark      float64
Class      object
dtype: object