In [1]:
import pandas as pd

In [25]:
# Cau 6

# Load file
df6 = pd.read_csv("danhsachSV.csv", sep=';')

print("Danh sach sinh vien da load:\n", df6)

Danh sach sinh vien da load:
             ID                 Name         BOD Gender  Mark  \
0   16050007.0      Đặng Phương Anh  24/02/1998      F   7.0
1   16051722.0     Đinh Thị Vân Anh  21/11/1998      F   9.0
2   16050014.0           Đỗ Lan Anh         NaN      F   4.0
3   16051723.0        Kiều Ngọc Ánh  06/10/1998      F   6.0
4   16050008.0          Lê Ngọc Ánh  17/02/1998      F   3.0
..         ...                  ...         ...    ...   ...
80  16050174.0   Nguyễn THị Hải Yến  04/03/1998      F   6.0
81  16051814.0  Nguyễn Thị Ngọc Yến  11/11/1998      F   NaN
82  16051802.0    Nguyễn Doãn Trung  25/09/1998      M   5.0
83  16051803.0      Trần Văn Trường  10/02/1997      M   NaN
84  16051804.0      Trần THị Cẩm Tú  13/12/1998      F   NaN

                Class
0      QH-2016-E KTPT
1   QH-2017-E KINH TẾ
2      QH-2017-E KTPT
3      QH-2017-E KTPT
4      QH-2017-E KTPT
..                ...
80     QH-2016-E KTPT
81     QH-2016-E KTPT
82     QH-2016-E KTPT
83     QH-2016-E KTPT
84     QH-2016-E KTPT

[85 rows x 6 columns]

In [26]:
# So quan sat va thuoc tinh

dem = df6.shape
print("So dong: ", dem[0])
print("So cot: ", dem[1])

So dong:  85
So cot:  6

In [27]:
# Hien thi 10 dong dau va 10 dong cuoi

print("10 dong dau cua bo du lieu:\n", df6.head(10))

print("\n10 dong cuoi cua bo du lieu:\n", df6.tail(10))

10 dong dau cua bo du lieu:
            ID                  Name         BOD Gender  Mark  \
0  16050007.0       Đặng Phương Anh  24/02/1998      F   7.0
1  16051722.0      Đinh Thị Vân Anh  21/11/1998      F   9.0
2  16050014.0            Đỗ Lan Anh         NaN      F   4.0
3  16051723.0         Kiều Ngọc Ánh  06/10/1998      F   6.0
4  16050008.0           Lê Ngọc Ánh  17/02/1998      F   3.0
5  16052308.0            Vũ Thị Ánh  12/07/1998      F   9.0
6  16051728.0       Nguyễn Đức Bình         NaN      F   6.0
7  16051726.0      Nguyễn Ngọc Diệp  10/10/1998      F   8.0
8  16051725.0  Nguyễn Thị Ngọc Diệp  08/10/1998      F   7.0
9  16050018.0       Nguyễn Kim Dung  20/10/1998      F   7.0

               Class
0     QH-2016-E KTPT
1  QH-2017-E KINH TẾ
2     QH-2017-E KTPT
3     QH-2017-E KTPT
4     QH-2017-E KTPT
5  QH-2017-E KINH TẾ
6     QH-2016-E KTPT
7  QH-2017-E KINH TẾ
8     QH-2017-E KTPT
9     QH-2016-E KTPT

10 dong cuoi cua bo du lieu:
             ID                 Name         BOD Gender  Mark           Class
75  16051803.0      Trần Văn Trường  10/02/1997      M   NaN  QH-2016-E KTPT
76  16051804.0      Trần THị Cẩm Tú  13/12/1998      F   NaN  QH-2016-E KTPT
77  17050098.0       Nguyễn THị Vân  21/09/1999      F   7.0  QH-2017-E KTPT
78  16051811.0       Trần Ngọc Xuân  04/11/1998      F   8.0  QH-2016-E KTPT
79         NaN   Nguyễn Thị Hải Vân  18/09/1998      F   9.0  QH-2017-E KTPT
80  16050174.0   Nguyễn THị Hải Yến  04/03/1998      F   6.0  QH-2016-E KTPT
81  16051814.0  Nguyễn Thị Ngọc Yến  11/11/1998      F   NaN  QH-2016-E KTPT
82  16051802.0    Nguyễn Doãn Trung  25/09/1998      M   5.0  QH-2016-E KTPT
83  16051803.0      Trần Văn Trường  10/02/1997      M   NaN  QH-2016-E KTPT
84  16051804.0      Trần THị Cẩm Tú  13/12/1998      F   NaN  QH-2016-E KTPT

In [28]:
# Xem gia tri null cua moi thuoc tinh va thuoc tinh co nhieu gia tri null nhat

null_count = df6.isnull().sum()

print("So gia tri null cua moi thuoc tinh:\n", null_count)

max_null = null_count.idxmax()
num_null = null_count.max()
print("Thuoc tinh co nhieu gia tri null nhat la:", max_null, "(", num_null, " gia tri)")

So gia tri null cua moi thuoc tinh:
 ID         7
Name       0
BOD        4
Gender     0
Mark      18
Class      0
dtype: int64
Thuoc tinh co nhieu gia tri null nhat la: Mark ( 18  gia tri)

In [29]:
# Doi gia tri M -> Nam, F -> Nu

df6['Gender'] = df6['Gender'].replace({'M':'Nam', 'F':'Nữ'})

print("Danh sach sinh vien sau khi doi M -> Nam, F -> Nu:\n", df6)

Danh sach sinh vien sau khi doi M -> Nam, F -> Nu:
             ID                 Name         BOD Gender  Mark  \
0   16050007.0      Đặng Phương Anh  24/02/1998     Nữ   7.0
1   16051722.0     Đinh Thị Vân Anh  21/11/1998     Nữ   9.0
2   16050014.0           Đỗ Lan Anh         NaN     Nữ   4.0
3   16051723.0        Kiều Ngọc Ánh  06/10/1998     Nữ   6.0
4   16050008.0          Lê Ngọc Ánh  17/02/1998     Nữ   3.0
..         ...                  ...         ...    ...   ...
80  16050174.0   Nguyễn THị Hải Yến  04/03/1998     Nữ   6.0
81  16051814.0  Nguyễn Thị Ngọc Yến  11/11/1998     Nữ   NaN
82  16051802.0    Nguyễn Doãn Trung  25/09/1998    Nam   5.0
83  16051803.0      Trần Văn Trường  10/02/1997    Nam   NaN
84  16051804.0      Trần THị Cẩm Tú  13/12/1998     Nữ   NaN

                Class
0      QH-2016-E KTPT
1   QH-2017-E KINH TẾ
2      QH-2017-E KTPT
3      QH-2017-E KTPT
4      QH-2017-E KTPT
..                ...
80     QH-2016-E KTPT
81     QH-2016-E KTPT
82     QH-2016-E KTPT
83     QH-2016-E KTPT
84     QH-2016-E KTPT

[85 rows x 6 columns]

In [30]:
# Gan nhung ban khong co diem bang tb cot diem

df6.loc[df6['Mark'].isnull(), 'Mark'] = df6['Mark'].mean()

print("Danh sach sinh vien sau khi them diem:\n", df6)

Danh sach sinh vien sau khi them diem:
             ID                 Name         BOD Gender      Mark  \
0   16050007.0      Đặng Phương Anh  24/02/1998     Nữ  7.000000
1   16051722.0     Đinh Thị Vân Anh  21/11/1998     Nữ  9.000000
2   16050014.0           Đỗ Lan Anh         NaN     Nữ  4.000000
3   16051723.0        Kiều Ngọc Ánh  06/10/1998     Nữ  6.000000
4   16050008.0          Lê Ngọc Ánh  17/02/1998     Nữ  3.000000
..         ...                  ...         ...    ...       ...
80  16050174.0   Nguyễn THị Hải Yến  04/03/1998     Nữ  6.000000
81  16051814.0  Nguyễn Thị Ngọc Yến  11/11/1998     Nữ  6.089552
82  16051802.0    Nguyễn Doãn Trung  25/09/1998    Nam  5.000000
83  16051803.0      Trần Văn Trường  10/02/1997    Nam  6.089552
84  16051804.0      Trần THị Cẩm Tú  13/12/1998     Nữ  6.089552

                Class
0      QH-2016-E KTPT
1   QH-2017-E KINH TẾ
2      QH-2017-E KTPT
3      QH-2017-E KTPT
4      QH-2017-E KTPT
..                ...
80     QH-2016-E KTPT
81     QH-2016-E KTPT
82     QH-2016-E KTPT
83     QH-2016-E KTPT
84     QH-2016-E KTPT

[85 rows x 6 columns]

In [31]:
# Kiem tra so luong du lieu trung

dup = df6.duplicated().sum()

print("So luong du lieu bi trung:", dup)

So luong du lieu bi trung: 8

In [35]:
# Thay cac gia tri > 10 thanh max

df6.loc[df6['Mark'] > 10, 'Mark'] = df6['Mark'].max()

print("Danh sach sinh vien sau khi sua gia tri outlier:\n", df6)

In [37]:
# Loai bo nhung dong trung

df6.drop_duplicates(inplace=True)

print("Danh sach sinh vien sau khi xoa gia tri trung:\n", df6)

dem = df6.shape
print("So dong sau khi xoa gia tri trung: ", dem[0])
print("So cot sau khi xoa gia tri trung: ", dem[1])

Danh sach sinh vien sau khi xoa gia tri trung:
             ID                 Name         BOD Gender      Mark  \
0   16050007.0      Đặng Phương Anh  24/02/1998     Nữ  7.000000
1   16051722.0     Đinh Thị Vân Anh  21/11/1998     Nữ  9.000000
2   16050014.0           Đỗ Lan Anh         NaN     Nữ  4.000000
3   16051723.0        Kiều Ngọc Ánh  06/10/1998     Nữ  6.000000
4   16050008.0          Lê Ngọc Ánh  17/02/1998     Nữ  3.000000
..         ...                  ...         ...    ...       ...
77  17050098.0       Nguyễn THị Vân  21/09/1999     Nữ  7.000000
78  16051811.0       Trần Ngọc Xuân  04/11/1998     Nữ  8.000000
79         NaN   Nguyễn Thị Hải Vân  18/09/1998     Nữ  9.000000
80  16050174.0   Nguyễn THị Hải Yến  04/03/1998     Nữ  6.000000
81  16051814.0  Nguyễn Thị Ngọc Yến  11/11/1998     Nữ  6.089552

                Class
0      QH-2016-E KTPT
1   QH-2017-E KINH TẾ
2      QH-2017-E KTPT
3      QH-2017-E KTPT
4      QH-2017-E KTPT
..                ...
77     QH-2017-E KTPT
78     QH-2016-E KTPT
79     QH-2017-E KTPT
80     QH-2016-E KTPT
81     QH-2016-E KTPT

[77 rows x 6 columns]
So dong sau khi xoa gia tri trung:  77
So cot sau khi xoa gia tri trung:  6

In [39]:
# Doi ten cot

columns = ['MSSV', 'Ho Ten', 'Ngay Sinh', 'Gioi Tinh', 'Diem', 'Lop']
df6.columns = columns

print("Danh sach sinh vien sau khi doi ten cot:\n", df6)

Danh sach sinh vien sau khi doi ten cot:
           MSSV               Ho Ten   Ngay Sinh Gioi Tinh      Diem  \
0   16050007.0      Đặng Phương Anh  24/02/1998        Nữ  7.000000
1   16051722.0     Đinh Thị Vân Anh  21/11/1998        Nữ  9.000000
2   16050014.0           Đỗ Lan Anh         NaN        Nữ  4.000000
3   16051723.0        Kiều Ngọc Ánh  06/10/1998        Nữ  6.000000
4   16050008.0          Lê Ngọc Ánh  17/02/1998        Nữ  3.000000
..         ...                  ...         ...       ...       ...
77  17050098.0       Nguyễn THị Vân  21/09/1999        Nữ  7.000000
78  16051811.0       Trần Ngọc Xuân  04/11/1998        Nữ  8.000000
79         NaN   Nguyễn Thị Hải Vân  18/09/1998        Nữ  9.000000
80  16050174.0   Nguyễn THị Hải Yến  04/03/1998        Nữ  6.000000
81  16051814.0  Nguyễn Thị Ngọc Yến  11/11/1998        Nữ  6.089552

                  Lop
0      QH-2016-E KTPT
1   QH-2017-E KINH TẾ
2      QH-2017-E KTPT
3      QH-2017-E KTPT
4      QH-2017-E KTPT
..                ...
77     QH-2017-E KTPT
78     QH-2016-E KTPT
79     QH-2017-E KTPT
80     QH-2016-E KTPT
81     QH-2016-E KTPT

[77 rows x 6 columns]

In [44]:
# Tao df cac ban co gioi tinh Nam va luu thanh file csv

df6_nam = df6.loc[df6['Gioi Tinh'] == "Nam"]
cols = ['MSSV', 'Ho Ten','Lop']
df6_nam = df6_nam[cols]
print("DSSV chi chua cac ban nam:\n", df6_nam)

DSSV chi chua cac ban nam:
           MSSV                Ho Ten                Lop
12  16050021.0          Lê Thị Giang  QH-2017-E KINH TẾ
13  16051730.0         Mai Thị Giang     QH-2017-E KTPT
16  16050028.0  Nguyễn Thị Thúy Hiền  QH-2017-E KINH TẾ
18  17050022.0       Hoàng Minh Hiếu     QH-2016-E KTPT
21         NaN   Phùng Thị Bích Hoàn     QH-2017-E KTPT
22  16050038.0           Đỗ Thị Hồng  QH-2017-E KINH TẾ
23  17050035.0      Nguyễn Thanh Huệ     QH-2016-E KTPT
30         NaN       Trương Tuấn Huy     QH-2016-E KTPT
38  16050084.0     Phạm Lê Diệu Linh     QH-2016-E KTPT
41  16050091.0     Trương Hoàng Minh     QH-2017-E KTPT
42         NaN          Nguyễn Hà My     QH-2017-E KTPT
44         NaN       Nguyễn Thu Ngân     QH-2017-E KTPT
63  16050175.0       Nông Thanh Thảo     QH-2016-E KTPT
64  16051784.0    Hoàng Thị Thu Thủy     QH-2016-E KTPT
66  16050140.0        Trần Thị Trang     QH-2016-E KTPT
74  16051802.0     Nguyễn Doãn Trung     QH-2016-E KTPT
75  16051803.0       Trần Văn Trường     QH-2016-E KTPT

In [45]:
# Luu danh sach cac ban nam vao file .csv

df6_nam.to_csv("SV_nam.csv", encoding='utf-8', index=False, header=True)

In [46]:
# Load file .csv da luu

df_nam = pd.read_csv("SV_nam.csv", sep=',')

print("Danh sach sv nam da luu:\n", df_nam)

Danh sach sv nam da luu:
           MSSV                Ho Ten                Lop
0   16050021.0          Lê Thị Giang  QH-2017-E KINH TẾ
1   16051730.0         Mai Thị Giang     QH-2017-E KTPT
2   16050028.0  Nguyễn Thị Thúy Hiền  QH-2017-E KINH TẾ
3   17050022.0       Hoàng Minh Hiếu     QH-2016-E KTPT
4          NaN   Phùng Thị Bích Hoàn     QH-2017-E KTPT
5   16050038.0           Đỗ Thị Hồng  QH-2017-E KINH TẾ
6   17050035.0      Nguyễn Thanh Huệ     QH-2016-E KTPT
7          NaN       Trương Tuấn Huy     QH-2016-E KTPT
8   16050084.0     Phạm Lê Diệu Linh     QH-2016-E KTPT
9   16050091.0     Trương Hoàng Minh     QH-2017-E KTPT
10         NaN          Nguyễn Hà My     QH-2017-E KTPT
11         NaN       Nguyễn Thu Ngân     QH-2017-E KTPT
12  16050175.0       Nông Thanh Thảo     QH-2016-E KTPT
13  16051784.0    Hoàng Thị Thu Thủy     QH-2016-E KTPT
14  16050140.0        Trần Thị Trang     QH-2016-E KTPT
15  16051802.0     Nguyễn Doãn Trung     QH-2016-E KTPT
16  16051803.0       Trần Văn Trường     QH-2016-E KTPT